<header id="site-header">
  <h1>MPMT - Project Management Software</h1>

  <nav>
    <ul>
      <li *ngIf="authService.isAuthenticated()"><a href="/project">Projects</a></li>
      <li *ngIf="authService.isAuthenticated()"><a href="/tasksByStatus">Tasks by status</a></li>
      <li>
        <a href="/login" *ngIf="!authService.isAuthenticated()">Login</a>
        <a href="/login" (click)="logout($event)" *ngIf="authService.isAuthenticated()">Logout</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a href="/register">Register</a>
      </li>
    </ul>
  </nav>
</header>
