@import "../../../assets/variables";

main {
  width: 400px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 2rem;
    color: $blue;
    text-align: center;
    margin-bottom: 20px;
  }

  .errors {
    color: $red;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid $gray;
      border-radius: 5px;
      font-size: 1rem;
      width: 100%;
    }

    input[type="submit"] {
      padding: 10px 15px;
      background-color: $blue;
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;

      &:hover {
        background-color: darken($blue, 10%);
      }
    }

    .errors {
      color: $red;
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
}
