<main *ngIf="project">
  <h1>{{project.name}}</h1>

  <p><strong>Description:</strong> {{ project.description }}</p>
  <p><strong>Start date:</strong> {{ project.startedAt }}</p>

  <div class="users">
    <div class="current-users">
      <h2>Users:</h2>

      <div *ngFor="let user of project.users | keyvalue">
        <p><strong>{{user.value.role}}</strong> : {{user.value.username}} <{{user.value.email}}></p>
      </div>
    </div>

    <div class="add-user">
      <h2>Add user to project:</h2>

      <form [formGroup]="addUserInProjectForm" (ngSubmit)="onSubmit()">
        <select name="email" id="email" formControlName="email">
          <option disabled selected value="">Choose user to add</option>
          <option *ngFor="let user of usersNotInProject" value="{{user.email}}">{{user.username}} <{{user.email}}></option>
        </select>

        <input type="submit" value="Add user">
      </form>
    </div>
  </div>

  <app-add-task (taskCreated)="onTaskCreated()"></app-add-task>

  <div *ngIf="tasks" class="tasks">
    <div *ngFor="let task of tasks | keyvalue">
      <a href="/project/{{project.id}}/task/{{task.value.id}}" *ngIf="getLastTaskHistory(task.value)" class="task-card">
        <div>
          <h2>{{ getLastTaskHistory(task.value)?.name }}</h2>
          <p><strong>Description:</strong> {{ getLastTaskHistory(task.value)?.description }}</p>
          <p><strong>Status:</strong> {{ getLastTaskHistory(task.value)?.status }}</p>
          <p><strong>Priority:</strong> {{ getLastTaskHistory(task.value)?.priority }}</p>
          <p><strong>Due date:</strong> {{ getLastTaskHistory(task.value)?.dueDate }}</p>
          <p><strong>Ended at:</strong> {{ getLastTaskHistory(task.value)?.endedAt }}</p>
        </div>
      </a>
    </div>
  </div>
</main>
